{% extends 'base.html' %}

{% block content %}
<hr>
<br>
<h4>About this page:</h4>
<div class="card sticky-top">
    <div class="card-body">
        <p>
            This is just a testing page where I have been experimenting with APIs. This page should display the <a href="https://myanimelist.net/topanime.php" target="_blank">top ranked</a> anime on <a href="https://myanimelist.net/" target="_blank">MyAnimeList.net</a>.
        </p>
        <hr>
        <p style="white-space: pre-line">Enter a number to show the top ranked anime:
            <small><small><span class="fst-italic">Displays top 4 by default</span></small></small>
        </p>
        <form action="" method="post" class="form-floating row row-cols-lg-auto g-2 align-items-start">
                {% csrf_token %}
                <div class="col-12">
                    
                    <div class="input-group">
                        <!-- <div class="input-group-text">Default: 5</div> -->
                      <input type="number" name="topanime" value="" class="form-control" id="inlineFormInputShowTopAnime" placeholder="Enter a number">
                    </div>
                  </div>
                
                  
                
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Show</button>
                  </div>

            
        </form>
    </div>
</div>
<hr>

{# style="max-height: 321px;" #}
<div class="row justify-content-md-start">
    {% for entry in anime.data %}
    <div class="col-sm-3 pb-2 mb-2">
        
        <!-- col pb-2 mb-2 -->
        <div class="card">
            
            <div class="card-body">
                
                <table class="table">
                    <tbody>
                        <tr>
                            <td>ID:</td>
                            <td><span class="fw-bold">{{ entry.node.id }}</span></td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td><span class="fw-bold">{{ entry.node.title }}</span></td>
                        </tr>
                        <a href="https://myanimelist.net/anime/{{ entry.node.id }}/" target="_blank"><img src="{{ entry.node.main_picture.medium }}" alt="anime image" class="card-img-top rounded" ></a>
                        <tr>
                            <td>Ranking</td>
                            <td><span class="fw-bold">{{ entry.ranking.rank }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    Eventually, this will be able to search by genre, or by username.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endblock content %}