<!-- # Schyler Lowry
# CIS-218
# 5/25/2023 -->
{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">Home/About Me</h1>
<p class="lead">Greetings. I'm Schyler - pronounced: SHY-ler. I'm currently a student at Kalamazoo Valley Community college
    pursuing an Associates Degree in Software Development.
</p>
<p>Outside of school I work part time at Meijer, a local grocery store.</p>
<p>My goal is to work in the industry as a programmer, with the larger goal of doing projects with machine learning.</p>
<p>My coursework at KVCC has equipped me with the basic skills necessary to pursue these goals.</p>
{% endblock content%}