<!-- # Schyler Lowry
# CIS-218
# 5/25/2023 -->
{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">My Projects</h1>

<hr>

  
     
  
     <div class="card my-2">
      
      <div class="card-body">
        <h5 class="card-title">Twitter Clone</h5>
        <p class="card-text">This was a project for my web development class at KVCC. We had to design a twitter clone (called "Tweeter"). The application is built with the Django library in Python. It features full CRUD operations, elegant styling (at least I'd like to say it does), and connects with a PostgreSQL database.</p>
        
        <p class="card-text">Visit the Github page to see images. Or click the demo link to try it yourself.</p>
        <a href="https://github.com/Schyler-Lowry/twitter-clone" class="btn btn-secondary" type="button" target="_blank"><i class="bi bi-github"> </i>Project Page</a>
        <a href="https://cis218-tweeter-c49931f491dc.herokuapp.com/" class="btn btn-primary" type="button" target="_blank"><i class="bi bi-arrow-up-right-square"> </i>Live Demo</a>
      </div>
    </div>
    
    <div class="card my-2">
      <div class="card-body">
        <p class="card-text">
          Visit my <a class="border rounded border-outline" href="https://github.com/Schyler-Lowry" target="_blank"><i class="bi bi-github"></i> Github</a> page to view most recent projects.
        </p>
      </div>
     </div>
   
{% endblock content%}